body{

    background-image: url(/imagen/fondo2.jpg);
    color: aliceblue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    height: 100vh;
    border: 2px beige;
    text-align: center;
    
}

.cabezera{
    background-color: lightblue;
}

.sectores{
    background-color: lightcoral;
}

.historia{
    background-color: lightgreen;
}

.videos{
    background-color: lightslategray;
}

.top{
    background-color: black;
}

.tabla{
    background-color: brown;
}

.formu{
    background-color: orange;
}

.final{
    background-color: chartreuse;
}
